.title-box {
    margin: 20px;
    text-decoration: none;
}
.header-box {
    background-color: #2A6F97;
    color: white;
    padding: 12px;
    margin: 0px 20px;
    text-decoration: none;
}

.header-box .text {
    text-decoration: none;
    color: white;
}

.vertical-menu {
    width: 400px;
    height: 400px;
    overflow-y: auto;
    margin: 0px 20px;
}

.vertical-menu a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;


}
.vertical-menu a:hover {
    background-color: #ccc;
}
