
.hero button{
  border: none;
  background-color: #01152C;
}


nav {
    background: #01152C;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.headerImages {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-nav{
    width: 120px;
    padding-top: 8%;
    margin-left: 20px;
}

.icon-profile{
    width: 40px;
    size: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;

}


.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: maxheight 0.5;
}
.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #ececec;
    padding: 20px;
    margin: 10px;

}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #1a1a1a;
    margin: 15px 0px 10px;

}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;

}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 20px;
    background-color: #d8d6d6;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);

}

.sub-menu-link:hover p{
    font-weight: 600;
}


.hamburgerIconContainer {
    padding-left: 1%;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.hamburgerIconContainer.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}

.hamburgerIconContainer.change .bar2 {
    opacity: 0;
}

.hamburgerIconContainer.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}