.layoutContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.navigationWrapper {
    display: flex;
    justify-content: stretch;
    height: 100%;
    overflow: auto;
}

.sideNav {
    transition: 0.02s;
    width: 0;
}

.sideNav.Open {
    transition: 0.02s;
    width: 15%;
}

.mainPage {
    flex-grow: 1;
    overflow-y: auto;
    width: 85%;
}