.orderedBoxes {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.orderedBoxes button:hover {
  background-color: #ccc;
}

.orderedBoxesButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2% 20%;
}

.orderedBoxesButtons button {
  font-size: 16px;
  background-color: #eee;
  border: none;
  padding: 2% 4%;
  border-radius: 4px;
}

.orderedBoxesButtonsSingle {
  padding: 2% 20%;
  padding-left: 45%;
}

.orderedBoxesButtonsSingle button {
  font-size: 16px;
  background-color: #eee;
  border: none;
  padding: 4% 8%;
  border-radius: 4px;
}


.orderedBoxesButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
}

.previousCheckButton {
  background-color: gainsboro;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.orderedBoxesPanel {
  padding: 0 18px;
  display: block;
  background-color: white;
  overflow: hidden;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  border: gainsboro 5px solid;
}

.orderedBoxesPanel p {
  margin-top: 1rem;
}

.open {
  background-color: gainsboro;
}

.hideable {
  display: none;
}

.show {
  display: block;
}