.ticketView {
    background-color: #fefefe;
    margin: 15% auto; 
    width: 40%; 
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.ticketViewHeader {
    background-color: #01152C;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: 4px;
}

.ticketViewPanel {
    padding: 3%;
    text-align: left;
}

.ticketPanelTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 2%;
    padding: 2% 2%;
}

.ticketPanelMiddle {
    border: 1px solid black;
    margin-top: 2%;
    padding: 2% 2%;
}

.ticketReply {
    border: 1px solid black;
    margin-top: 2%;
    padding: 2% 2%;
}

.ticketReply input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.ticketPanelFooter {
    border: 1px solid black;
    margin-top: 2%;
    padding: 2% 2%;
}

.ticketViewButtons {
    display: flex;
    justify-content: space-between;
    margin: 3% 10%;
}

.ticketViewButtons button {
    background-color: gainsboro;
    border: none;
    padding: 1.5% 6%;
    border-radius: 4px;
}

.ticketViewButtons button:hover {
    background-color: #ccc;
}