.TicketContainter a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;

}
.TicketContainter a:hover {
    background-color: #ccc;
}

.TicketContainter a.active{
    text-decoration: none;
    background-color: #2A6F97;
    color: white;
}
