
viscon frontend/visconfrontend/package-lock.json
viscon backend/obj/Debug/net6.0/viscon backend.assets.cache
viscon frontend/visconfrontend/package-lock.json
*.vsidx
*.config
*.cache
*.sqlite
*.lock
