.textbox {
    height: 100px;
    width: 500px;
    background-color: powderblue;
    padding: 25px 50px;
}

.input {
    height: 100px;
    width: 500px;
    background-color: powderblue;
    padding: 25px 50px;
}