.admin {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.Management {
    display: flex;
    justify-content: center;
}

.cases {
    display: flex;
    justify-content: center;
}

.Manage {
    display: flex;
    flex-direction: column;
    background-color: #eee;

}

.ManageHeader {
    color: #fff;
    background-color: #2A6F97;
}

@media (max-width: 1200px) {
    .cases {
        flex-direction: column;
        overflow: hidden;
    }

    .Management {
        flex-direction: column;
    }
}