.loginmenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.loginbutton {
    text-align: center;
    margin: 6rem;
    background-color: deepskyblue;
    width:25rem;
    height:25rem;
}
.hh{
    text-align:center;
}
.Lbtn{
    width:contain;

}
