.loginmenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:4%;
    height: 100vh;
}

.loginbutton {
    text-align: center;
    align-items: center;
    margin: 2%;
    background-color: lightgray;
    
}

.hh{
    text-align:center;
}
.Lbtn{
    width:contain;
    margin:1%;
    padding:3%;
}

.heading {
   
}
