.loginmenu {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.loginbutton {
    text-align: left;
    margin: 6rem;
    background-color: deepskyblue;
    justify-content: center;
    align-items: center;
}
.hh{
    text-align:center;
}
.Lbtn{
    width:300px;

}
.heading {
   
}
