<<<<<<< Updated upstream
.Problems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5% 20%;
}

.navButtons button {
  background-color: #eee;
  border: none;
  padding: 3% 8%;
  border-radius: 4px;
}

.navButtons button:hover {
  background-color: #ccc;
}
=======

.background {
  background: linear-gradient(132deg, #3a729b66, #0c4b82, #21243d);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}

.Titel{
  position: absolute;
  top: 100px;
  width: 500px;
  height: 100px;
  left: 0px;
  color: rgb(250, 246, 246);
  background-color: #3795cc;
  border-radius: 3px;
  box-shadow: #f9fafa 8px 8px 0px 0px 
  
}

.Error_1{
  position: absolute;
  top: 260px;
  width: 600px;
  height: 80px;
  left: 380px;
  border: unset;
  border-radius: 15px;
  color: #3795cc;
  z-index: 1;
  background: #e8e8e8;
  
  font-weight: 1000;
  font-size: 23px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.Error_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #3795cc;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
  
.Error_1:hover {
  color: #e8e8e8;
}
.Error_1:hover::before {
  width: 100%;
}


.Error_2{
  position: absolute;
  top: 350px;
  width: 600px;
  height: 80px;
  left: 380px;
  border: unset;
  border-radius: 15px;
  color: #3795cc;
  z-index: 1;
  background: #e8e8e8;
  
  font-weight: 1000;
  font-size: 23px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
  
  .Error_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #3795cc;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
  
.Error_2:hover {
  color: #e8e8e8;
}
.Error_2:hover::before {
  width: 100%;
}
  
    
.Error_3{
  position: absolute;
  top: 440px;
  width: 600px;
  height: 80px;
  left: 380px;
  border: unset;
  border-radius: 15px;
  color: #3795cc;
  z-index: 1;
  background: #e8e8e8;
  
  font-weight: 1000;
  font-size: 23px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
.Error_3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #3795cc;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
.Error_3:hover {
  color: #e8e8e8;
}
.Error_3:hover::before {
  width: 100%;
}
    
.Error_4{
  position: absolute;
  top: 530px;
  width: 600px;
  height: 80px;
  left: 380px;
  border: unset;
  border-radius: 15px;
  color: #3795cc;
  z-index: 1;
  background: #e8e8e8;
  
  font-weight: 1000;
  font-size: 23px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.Error_4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #3795cc;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
.Error_4:hover {
  color: #e8e8e8;
}
.Error_4:hover::before {
  width: 100%;
}

.Back{
  position: absolute;
  top: 890px;
  width: 280px;
  height: 80px;
  left: 90px;
  border: unset;
  border-radius: 15px;
  color: #3795cc;
  z-index: 1;
  background: #e8e8e8;
  
  font-weight: 1000;
  font-size: 23px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.Back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #3795cc;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
  
.Back:hover {
  color: #e8e8e8;
}
  
.Back:hover::before {
  width: 100%;
}


.Still_Problems{
  position: absolute;
  top: 890px;
  width: 280px;
  height: 80px;
  left: 1840px;
  border: unset;
  border-radius: 15px;
  color: #3795cc;
  z-index: 1;
  background: #e8e8e8;
  border-radius: 15px;
  
  font-weight: 1000;
  font-size: 23px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
.Still_Problems::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #3795cc;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
  
.Still_Problems:hover {
  color: #e8e8e8;
}
  
.Still_Problems:hover::before {
  width: 100%;
}
.Solve{
  position: absolute;
  top: 350px;
  width: 600px;
  height: 400px;
  right: 200px;
  color: rgb(250, 246, 246);
  background-color: #f7f8f8;
  box-shadow: inset 0 0 10px;
  border-radius: 15px;
  border: solid #3795cc 2px;
  box-shadow: #3795cc 8px 8px 0px 0px 
}
>>>>>>> Stashed changes
