.Problems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5% 20%;
}

.navButtons button {
  background-color: #eee;
  border: none;
  padding: 3% 8%;
  border-radius: 4px;
}

.navButtons button:hover {
  background-color: #ccc;
}
