.submissionform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.submissionform input {
    height: 150px;
    width: 150%;
    background-color: powderblue;
    padding: 2% 2%;
    margin-bottom: 6%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
}