.userTickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font-size: 18px;
}

.userTickets button {
  background-color: #2A6F97;
  width: 30%;
  border: none;
  color: #fff;
  border-radius: 2rem;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.userTickets button:hover {
  background-color: #013A63;
}

.userTicketsBoxes {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

@media (max-width: 1200px) {
  .userTicketsBoxes {
    flex-direction: column;
  }
}